.menu-container {
  position: absolute;
  height: 100vh;
  min-width: 33vw;
  right: 0;
  top: 10%;
  background-color: var(--background-color);
  border-left: 1px solid var(--primary-color);
  z-index: 900;
}

@media (max-width: 767px) {
  .menu-container {
    width: 100vw;
    margin-top: 12%;
    border: none;
    top: 0;
  }
}

.menu-item {
  padding: 2%;
  margin-left: 2%;
  font-weight: bold;
  background-color: var(--background-color);
  border: none;
}

p {
  margin: 2%;
  font-size: smaller;
}