---
import "../styles/global.css";
import "../styles/login.css";

import Login from "../components/Login/Login";
import ThemeSwitch from "components/ThemeSwitch/ThemeSwitch";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>ToDoList</title>
	</head>
	<body>
		<h1>ToDo List</h1>
		<div class="nav-container">
			<a href="/"
				><span class="material-symbols-outlined">arrow_back_ios</span></a
			>
			<ThemeSwitch client:load />
		</div>
		<Login client:load />
		<p class="not-account">
			You don't have an account? <a href="/signup">Create new</a>
		</p>
	</body>
</html>
