---
import SignUp from "../components/SignUp/SignUp";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ToDoList</title>
  </head>
  <body>
    <h1>ToDo List</h1>

    <a href="/">back</a>

    <SignUp client:load />
  </body>
</html>
