---
import type { Todo } from "../types";
import TodoCard from "../components/TodoCard/TodoCard";

const todos: Todo[] = [
  { content: "1", done: false, lastChange: Date.now() },
  { content: "2", done: false, lastChange: Date.now() },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ToDoList</title>
  </head>
  <body>
    <h1>Todos</h1>
    <ul>
      {
        todos.map((todo: Todo) => (
          <li>
            <TodoCard todo={todo} />
          </li>
        ))
      }
    </ul>
  </body>
</html>
