---
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer";
import TodosList from "../components/TodosList/TodosList";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ToDoList</title>
  </head>
  <body>
    <Header client:only />
    <TodosList client:only />

    <Footer client:load />
  </body>
</html>
