---
import ProtectedRoute from "components/ProtectedRoute";
import Header from "../components/Header/Header";
import TodosList from "../components/TodosList/TodosList";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ToDoList</title>
  </head>
  <body>
    <ProtectedRoute client:only>
      <Header client:only />
      <TodosList client:only />
    </ProtectedRoute>
  </body>
</html>
