---
import type { Todo } from "../types";
import TodoCard from "../components/TodoCard/TodoCard";
import Header from "../components/Header/Header";
import Footer from "../components/Footer/Footer";
import "../styles/global.css";

const todos: Todo[] = [
  { title: "test", content: "1", done: false, lastChange: Date.now() },
  { content: "2", done: true, lastChange: Date.now() },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>ToDoList</title>
  </head>
  <body>
    <Header client:only />
    <div class="todoList">
      {todos.map((todo: Todo) => <TodoCard todo={todo} client:load />)}
    </div>
    <Footer client:load />
  </body>
</html>
