.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  font-size: larger;
  font-weight: 800;
}

.options-container {
  display: flex;
  flex-direction: row;
}

.logo,
.options-container,
.menu {
  padding: 2%;
}


/* .menu-container {
  position: absolute;
  height: 100vh;
  margin-top: 2em;
  min-width: 50vw;
  background-color: var(--background-color);
  z-index: 200;
} */